
.userlistcomponent {
    .mt-auto{
    position: absolute;
    right: 43px;
    top: 1;   
    margin-top: -20px;
}
.p-button-success {
    right: -5px !important;
}    .p-fluid .p-button {
        width: auto;
    }
}





